<section class="about-us" id="about-us">
  <div class="container about-us-content">
    <div class="about-us-texts">
      <h2>Про Меблерію</h2>
      <p class="about-us-p">
        У Меблерії ми прагнемо створювати затишок та функціональність у кожному
        домі. Наша місія - пропонувати високоякісні меблі, що поєднують у собі
        сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний
        інтер'єр починається з правильних меблів.
      </p>
    </div>
    <img
      src="../img/about-us-mob-1x.webp"
      srcset="
        ../img/about-us-mob-1x.webp     335w,
        ../img/about-us-mob-2x.webp     670w,
        ../img/about-us-tablet-1x.webp  704w,
        ../img/about-us-tablet-2x.webp 1408w,
        ../img/about-us-desk-1x.webp    644w,
        ../img/about-us-desk-2x.webp   1288w
      "
      sizes="(min-width: 1440px) 644px, (min-width: 768px) 704px, 335px"
      alt="Команда компанії Меблерія в офісі"
      class="about-us-img"
      loading="lazy"
    />
  </div>
</section>
