<section class="review" id="feedback">
  <div class="container review-container">
    <h2 class="review-title">Відгуки клієнтів</h2>
    <p class="review-description">
      Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.
    </p>
    <div class="review-loader loader hidden"></div>
    <div class="swiper review-carousel">
      <div class="swiper-wrapper"></div>
    </div>
    <div class="review-controls">
      <div class="swiper-pagination"></div>
      <div class="review-nav-buttons">
        <button type="button" class="nav-btn-prev">
          <svg class="review-arrow" width="24" height="24">
            <use href="/img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button type="button" class="nav-btn-next">
          <svg class="review-arrow" width="24" height="24">
            <use href="/img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
