<!-- <section class="hero" id="hero-section">
  <div class="container">
    <div class="hero-image"></div>
    <div class="hero-text-box">
      <h1 class="title-one">Створіть свій ідеальний дім</h1>
      <div class="text-button-box">
        <p class="hero-text">
          Відкрийте для себе колекцію стильних та комфортних меблів, які
          перетворять ваш простір. Наша продукція поєднує в собі елегантність та
          функціональність.
        </p>
        <div class="button-box">
          <a href="#feedback" class="btn-style">Що про нас думають</a>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="hero" id="hero-section">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">Створіть свій ідеальний дім</h1>
      <p class="hero-text">
        Відкрийте для себе колекцію стильних та комфортних меблів, які
        перетворять ваш простір. Наша продукція поєднує в собі елегантність та
        функціональність.
      </p>
      <a href="#feedback" class="hero-btn">Що про нас думають</a>
    </div>
  </div>
</section>
