<section class="our-furniture">
    <div class="container-furniture">
        <h2 class="title">Наші меблі</h2>
        <p class="description">Знайдіть ідеальні рішення для вашого інтер'єру</p>

        <ul class="options">

            <li class="option" data-category="All furniture">
                <img src="../img/our-furniture/images_1x/1st.jpg" />
                <span>Всі меблі</span>
            </li>

            <li class="option" data-category="М'які меблі">
                <img src="../img/our-furniture/images_1x/2nd.jpg" />
                <span>М'які меблі</span>
            </li>

            <li class="option" data-category="Wardrobes and storage systems">
                <img src="../img/our-furniture/images_1x/3rd.jpg" />
                <span>Шафи та системи зберігання</span>
            </li>

            <li class="option" data-category="Beds and mattresses">
                <img src="../img/our-furniture/images_1x/4th.jpg" />
                <span>Ліжка та матраци</span>
            </li>

            <li class="option" data-category="Tables">
                <img src="../img/our-furniture/images_1x/5th.jpg" />
                <span>Столи</span>
            </li>

            <li class="option" data-category="Chairs and stools">
                <img src="../img/our-furniture/images_1x/6th.jpg" />
                <span>Стільці та табурети</span>
            </li>

            <li class="option" data-category="Kitchens">
                <img src="../img/our-furniture/images_1x/7th.jpg" />
                <span>Кухні</span>
            </li>

            <li class="option" data-category="Children's furniture">
                <img src="../img/our-furniture/images_1x/8th.jpg" />
                <span>Меблі для дитячої</span>
            </li>

            <li class="option" data-category="Office furniture">
                <img src="../img/our-furniture/images_1x/9th.jpg" />
                <span>Меблі для офісу</span>
            </li>

            <li class="option" data-category="Hallway furniture">
                <img src="../img/our-furniture/images_1x/10th.jpg" />
                <span>Меблі для передпокою</span>
            </li>

            <li class="option" data-category="Bathroom furniture">
                <img src="../img/our-furniture/images_1x/11th.jpg" />
                <span>Меблі для ванної кімнати</span>
            </li>

            <li class="option" data-category="Garden and outdoor furniture">
                <img src="../img/our-furniture/images_1x/12th.jpg" />
                <span>Садові та вуличні меблі</span>
            </li>

            <li class="option" data-category="Decor and accessories">
                <img src="../img/our-furniture/images_1x/13th.jpg" />
                <span>Декор та аксесуари"</span>
            </li>

        </ul>

        <ul class="furniture-items">
        </ul>

        
        <button class="show-more">Показати ще</button>
    </div>
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/izitoast/dist/js/iziToast.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast/dist/css/iziToast.min.css">
</section>