/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./container.css');

@import url('./our-furniture.css'); 
@import url('./modal-details.css');